# Node
node_modules/
dist/
build/
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/

# Local databases & storage
*.db
qdrant_storage/

# Environment keys
.env

# OS files
.DS_Store
Thumbs.db
.vercel
